<h4 align="center" style="background-color:white;">Buscar Vehiculo</h4>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="cuadro-inicio text-center">
            <img src="assets/images/coche2.png" alt="logo" class="img-responsive mb-3" width="90px" />
            <form [formGroup]="formBuscar">
                <b class="text-white text-italic d-block letraSelect">Selecionar Marca:</b>

                <div class="btn-group">
                    <select (change)="selectMarca($event.target.value)" style="width:300px;" class="form-control redondo" formControlName="marca" id="marcas">
                        <option value="-1" disabled>Seleccione la marca</option>
                        <option *ngFor="let item of listaMarcaModeloFiltrado" value="{{item}}">{{item}}</option>
                        <!-- <option value="Toyota">Toyota</option>
                        <option value="Honda">Honda</option> -->
                    </select>
                </div>

                <b class="text-white text-italic d-block letraSelect">Selecionar Modelo:</b>

                <div class="btn-group">
                    <select style="width:300px;" class="form-control redondo" formControlName="modelo" id="modelos">
                        <option value="-1" disabled>Seleccione el modelo</option>
                        <option *ngFor="let item of modelosFiltrados" value="{{item.id_marcamodelo}}">{{item.modelo}}
                        </option>

                    </select>
                </div>

                <b class="text-white text-italic d-block letraSelect">Seleccionar rango de Año:</b>
                <div class="row">
                    <div class="col-12 col-md-6 ">
                        <div class="d-flex justify-content-end">

                            <b class="text-white text-italic d-block letraSelect d-block mr-5">DESDE</b>

                        </div>
                        <div class="d-flex justify-content-end">

                            <div class="btn-group">
                                <select style="width:135px;" class="form-control redondo" formControlName="anio_desde" id="años">
                                    <option value="-1" disabled>Seleccione el año</option>
                                    <option *ngFor="let item of aniosVehiculo" value="{{item}}">{{item}}</option>

                                </select>
                            </div>

                        </div>


                    </div>
                    <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-lg-start">
                            <b class="text-white text-italic d-block letraSelect ml-5">HASTA</b>

                        </div>
                        <div class=" d-flex justify-content-lg-start w-100">

                            <div class="btn-group">
                                <select style="width:135px;" class="form-control redondo" formControlName="anio_hasta" id="años">
                                    <option value="-1" disabled>Seleccione el año</option>
                                    <option *ngFor="let item of aniosVehiculo" value="{{item}}">{{item}}</option>

                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <b class="text-white text-italic d-block letraSelect">Color (Opcional):</b>

                <div class="btn-group">
                    <select style="width:300px;" class="form-control redondo" formControlName="color_catal" id="colores">
                        <option value="-1" disabled>Seleccione el color</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Negro">Negro</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Cualquiera">Cualquiera</option>
                    </select>
                </div>

                <b class="text-white text-italic d-block letraSelect">Selecionar Estado:</b>

                <div class="btn-group">
                    <select style="width:300px;" class="form-control redondo" formControlName="estado_catal" id="estados">
                        <option value="-1" disabled>Seleccione el estado</option>
                        <option value="Nuevo">Nuevo</option>
                        <option value="Usado">Usado</option>
                        <option value="Nuevo/Usado">Nuevo/Usado</option>
                    </select>
                </div>
                <div class="mt-3">
                    <div>
                        <button style="width:240px;" class="btn btn-lg btn-primary  mb-4 redondo" type="button" (click)="buscarVehiculo()">Buscar Vehiculo</button>
                    </div>
                    <div>
                        <button style="width:240px;" id="btncircular" class="btn btn-lg btn-danger  mb-4 redondo" type="button" routerLink="/home">Atras</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>