<h4 align="center" style="background-color:white;">Buscar Vehiculo</h4>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="cuadro-inicio text-center">
      <img src="assets/images/coche2.png" alt="logo" class="img-responsive mb-3" width="90px" />

      <b class="text-white text-italic d-block letraSelect">Selecionar Marca:</b>

      <div class="btn-group">
        <select style="width:300px;" class="form-control redondo" id="marcas">
          <option value="">Nissan</option>
          <option value="">Toyota</option>
          <option value="">lexus</option>
          <option value="">Honda</option>
        </select>
      </div>

      <b class="text-white text-italic d-block letraSelect">Selecionar Modelo:</b>

      <div class="btn-group">
        <select style="width:300px;" class="form-control redondo" id="modelos">
          <option value="">GT-R</option>
          <option value="">Supra</option>
          <option value="">Nx</option>
          <option value="">Accord</option>
        </select>
      </div>

      <b class="text-white text-italic d-block letraSelect">Seleccionar Año:</b>

      <div class="btn-group">
        <select style="width:300px;" class="form-control redondo" id="años">
          <option value="">1990-2000</option>
          <option value="">2000-2005</option>
          <option value="">2005-2010</option>
          <option value="">2010-2020</option>
        </select>
      </div>

      <b class="text-white text-italic d-block letraSelect">Color (Opcional):</b>

      <div class="btn-group">
        <select style="width:300px;" class="form-control redondo" id="colores">
          <option value="">Blanco</option>
          <option value="">Negro</option>
          <option value="">Rojo</option>
          <option value="">Cualquiera</option>
        </select>
      </div>

      <b class="text-white text-italic d-block letraSelect">Selecionar Estado:</b>

      <div class="btn-group">
        <select style="width:300px;" class="form-control redondo" id="estados">
          <option value="">Nuevo</option>
          <option value="">Usado</option>
          <option value="">Nuevo/Usado</option>
        </select>
      </div>
      <div class="mt-3">
        <div>
          <button style="width:240px;" class="btn btn-lg btn-primary  mb-4 redondo" type="button" routerLink="/cliente/resultadosBusqueda">Buscar Vehiculo</button>
        </div>
        <div>
          <button style="width:240px;" id="btncircular" class="btn btn-lg btn-danger  mb-4 redondo" type="button" routerLink="/home">Atras</button>
        </div>
      </div>
    </div>
  </div>
</div>
