<!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

<div class="container-fluid">
  <h2 class="mt-4">RESULTADOS DE LA BUSQUEDA</h2>
  <hr width="80%" align="left" size="40" />
  <br />
  <ul class="list-unstyled">
    <li class="media">
      <img src="assets/images/gtr.png" class="mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0 mb-1">MARCA #1</h5>
        <h5 class="mt-0 mb-1">MODELO #1</h5>
        <h5 class="mt-0 mb-1">AÑO #1</h5>
        <h5 class="mt-0 mb-1">COLOR #1</h5>
        <h5 class="mt-0 mb-1">ESTADO #1</h5>
        <br />
        <button style="width:140px;" class="btn btn-primary btn-block mb-4 redondo" type="button">Ver Mas</button>
      </div>
    </li>

    <hr width="80%" align="left" size="40" />

    <li class="media my-4">
      <img src="assets/images/supra.png" class="mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0 mb-1">MARCA #2</h5>
        <h5 class="mt-0 mb-1">MODELO #2</h5>
        <h5 class="mt-0 mb-1">AÑO #2</h5>
        <h5 class="mt-0 mb-1">COLOR #2</h5>
        <h5 class="mt-0 mb-1">ESTADO #2</h5>
        <br />
        <button style="width:140px;" class="btn btn-primary btn-block mb-4 redondo" type="button">Ver Mas</button>
      </div>
    </li>

    <hr width="80%" align="left" size="40" />

    <li class="media">
      <img src="assets/images/lexus.png" class="mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0 mb-1">MARCA #3</h5>
        <h5 class="mt-0 mb-1">MODELO #3</h5>
        <h5 class="mt-0 mb-1">AÑO #3</h5>
        <h5 class="mt-0 mb-1">COLOR #3</h5>
        <h5 class="mt-0 mb-1">ESTADO #3</h5>
        <br />
        <button style="width:140px;" class="btn btn-primary btn-block mb-4 redondo" type="button">Ver Mas</button>
      </div>
    </li>
  </ul>
</div>
