<!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

<div class="container-fluid">
    <h2 class="mt-4">RESULTADOS DE LA BUSQUEDA</h2>
    <hr width="80%" align="left" size="40" />
    <br />
    <ul class="list-unstyled">
        <div *ngFor="let vehiculo of resultados_busqueda">
            <li class="media">
                <img src="http://localhost:3000/imagenes/archivo/{{vehiculo?.imagenes[0].fileName}}" class="mr-3 img-fluid" style="max-height: 10rem;" alt="..." />
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{vehiculo.marcamodelo.marca}}</h5>
                    <h5 class="mt-0 mb-1">{{vehiculo.marcamodelo.modelo}}</h5>
                    <h5 class="mt-0 mb-1">{{vehiculo.anio_catal}}</h5>
                    <h5 class="mt-0 mb-1">{{vehiculo.color_catal}}</h5>
                    <h5 class="mt-0 mb-1">{{vehiculo.estado_catal}}</h5>
                    <br />
                    <button style="width:140px;" class="btn btn-primary btn-block mb-4 redondo" type="button" (click)="navegarADetalle(vehiculo)">Ver Mas</button>
                </div>
            </li>
            <hr width="80%" align="left" size="40" />
        </div>

    </ul>
</div>