.head {
  height: 7rem;
  top: 0;
  background: rgb(32, 58, 145);
  width: 100%;
}

.contenidoPrincipal {
  height: calc(100% -7rem);
}

#colorSky {
  color: skyblue !important;
}

.dropCuenta {
  position: absolute;
  right: 2rem;
}
