<div class="row">
    <div class="col-12 p-0 d-flex justify-content-center">
        <div>
            <button id="btnbuscarvehiculo" type="button" class="fas fa-search fa-5x" routerLink="formularioBusqueda">
        <i><h3>Quiero Buscar Un Vehiculo</h3></i>
      </button>

            <button id="btnpublicarvehiculo" type="button" class="fas fa-car fa-5x" (click)="revisarSesion()">
        <i><h3>Deseo Publicar Mi Vehiculo</h3></i>
      </button>

        </div>
    </div>

    <!-- ============================================================================================================== -->
    <div class="col-12 p-0 footer">
        <footer class=" font-small unique-color-dark">
            <div style="background-color: rgb(32, 58, 145);">
                <div class="container azulFooter">
                    <i><h6 align="center" class="letrafooter">SISTEMA DE COMPRA Y VENTA DE VEHICULOS</h6></i>
                </div>
            </div>

            <div class="container text-center text-md-left mt-5">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <h6 class="text-uppercase font-weight-bold">Vent Autos</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 " />
                        <p>Un sistema dedicado para facilitar la compra y venta de vehiculos.</p>
                    </div>

                    <div class="col-12 col-md-3">
                        <h6 class="text-uppercase font-weight-bold">UBICACIÓN</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 " />
                        <p>
                            <a href="https://www.google.com/maps/place/Bonao+42000/@18.9297253,-70.4401762,13z/data=!3m1!4b1!4m5!3m4!1s0x8eafdf12b12c67d1:0xe4775ab340ebea04!8m2!3d18.9322174!4d-70.4089924">BONAO,MONSEÑOL NOUEL.</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-3">
                        <h6 class="text-uppercase font-weight-bold">PROPIETARIOS</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 " />
                        <span>Ing Cristopher Ramos</span>
                        <span>Ing Cesar E Alfau</span>
                    </div>

                    <div class="col-12 col-md-3  -0 mb-4">
                        <h6 class="text-uppercase font-weight-bold">CONTACTOS</h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 " />
                        <p><i class="fas fa-home mr-3"></i> Bonao, MN, RD</p>
                        <p><i class="fas fa-envelope mr-3"></i> Cristopherramos@outlook.es</p>
                        <p><i class="fas fa-envelope mr-3"></i> Elalfau@gmail.com</p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">© 2020-2021 Copyright</div>
        </footer>
    </div>
</div>