<div class="container-fluid">
  <i>
    <h2 class="mt-4">Bienvenido , Aqui estan tus publicaciones</h2>
  </i>
  <hr width="80%" align="left" size="40" />

  <ul class="list-unstyled">
    <li class="media">
      <img src="assets/images/gtr.png" class="mr-3" alt="..." />
      <div class="media-body">
        <h5 class="mt-0 mb-1">MARCA #1</h5>

        <h5 class="mt-0 mb-1">MODELO #1</h5>

        <h5 class="mt-0 mb-1">AÑO #1</h5>

        <h5 class="mt-0 mb-1">COLOR #1</h5>

        <h5 class="mt-0 mb-1">ESTADO #1</h5>
      </div>
    </li>
    <button style="width:140px;" class="btn btn-warning redondo">Editar</button>
    <button style="width:140px;" class="btn btn-danger redondo">Eliminar</button>

    <hr width="80%" align="left" size="40" />
    <button id="btnpublicar" style="width:340px;" class="btn btn-lg btn-primary mb-4 float-right redondo" type="button">Publicar Un Vehiculo</button>
  </ul>
</div>
